

.group:after {
  content: "";
  display: block;
  clear: both;
}

.dashboard {
  width: 990px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

#dash-header {
  height: 65px;
  border-bottom: 1px solid white;
}

#dash-outer {
  height: 90px;
}


.feed {
  width: 625px;
  display: flex;
  flex-direction: column;
}

.feed-form {
  display: flex;
  justify-content: space-around;
}

#post-form-avatar {
  border-radius: 3px;
  border: 3px solid white;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.post-form {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 500px;
  border-radius: 3px;
  cursor: pointer;
  color: #696969;
  background-color: white;
  border-radius: 3px;
  text-align: center;
}

#post-feed {
  display: flex;
  justify-content: space-around;
}

#post-avatar {
  border-radius: 3px;
  border: 3px solid white;
  height: 50px;
  width: 50px;
  cursor: pointer;
}



#new-post-label-img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#new-post-label-img:hover, #new-post-label-img:focus, #new-post-label-img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#new-post-label-text {
  width: 85px;
  height: 85px;
  background-color: white;
  border-radius: 3px;
}

#new-post-label-text img {
  width: 55px;
  height: 50px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

#new-post-label-photo {
  width: 85px;
  height: 85px;
  background-color: white;
  border-radius: 3px;
}

#new-post-label-photo img {
  width: 55px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 3px;
  margin-left: 11px;
  margin-top: 2px;
}

#new-post-label-quote {
  width: 85px;
  height: 85px;
  background-color: white;
  border-radius: 3px;
}

#new-post-label-quote img {
  width: 55px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-left: 10px;
  margin-top: 4px;
}

#new-post-label-link {
  width: 85px;
  height: 85px;
  background-color: white;
  border-radius: 3px;
}

#new-post-label-link img {
  width: 55px;
  height: 50px;
  padding-top: 10px;
  margin-left: 11px;
  margin-top: 3px;
  padding-bottom: 2px;
}

#post-label {
  margin-left: 8px;
  margin-top: 2px;
  display: block;
  width: 75px;
  text-align: center;
  opacity: .75;
  font-size: 18px;
}

.explore-click {
  cursor: pointer;
}
