.post-form-modal {
  width: 540px;
  height: 280px;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 150px;
  color: #444;
  border: 1px solid white;
  outline: none;
}

.post-edit-modal {
  width: 540px;
  height: 280px;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 150px;
  color: #444;
  border: 1px solid white;
  outline: none;
  color: black;
}

#user-edit-input input {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}

#blog-edit-form input {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}

#edit-modal {
  background-color: white;
  color: black;
}

#post-delete {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
}

#delete-buttons {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
}

#post-delete-btn-ok {
  background-color: #7cb5d8;
  width: 140px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
}

#post-delete-btn-cancel {
  background-color: #acb3bb;
  width: 140px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
}


#footer {
  height: 30px;
}

#modal-header {
  width: 540px;
  height: 40px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 16px;
}

#post-inputs input {
  border: 0;
  font-size: 16px;
}

#post-text {
  margin-left: 20px;
  width: 90%;
  height: 27px;
}

#post-content {
  margin-left: 20px;
  width: 90%;
  height: 120px;
}

textarea {
  min-height: 80px;
  border: 0;
  font-size: 16px;
}

#image-form {
  border-top: 1px dashed #cacaca;
  border-bottom: 1px dashed #cacaca;
  height: 130px;
  background-color: #efefef;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 12px;
}


#image-caption {
  display: block;
  border: 0;
  font-size: 16px;
  width: 90%;
  padding-left: 20px;
  padding-bottom: 5px;
}

#link-form {
  margin-left: 20px;
  border: 0;
  background-color: #efefef;
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  width: 90%;
  height: 100px;
}

#audio-form {
  margin-left: 20px;
  padding-top: 10px;
  border: 0;
  background-color: #efefef;
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  width: 90%;
  height: 80px;
}

#audio-outer {
  border-top: 1px dashed #cacaca;
  border-bottom: 1px dashed #cacaca;
  height: 100px;
  background-color: #efefef;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
  width: 100%;
}


textarea:focus, input:focus{
    outline: none;
}

#link-outer {
  border-top: 1px dashed #cacaca;
  border-bottom: 1px dashed #cacaca;
  height: 100px;
  background-color: #efefef;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
  width: 100%;
}

#link-title {
  border: 0;
  width: 90%;
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#quote {
  font-family: Georgia;
  font-size: 48px;
  color: grey;
  margin-left: 20px;
  width: 90%;
  height: 100px;
}

#source {
  border: 0;
  margin-left: 20px;
  width: 90%;
  height: 50px;
}

#image-camera {
  height: 80px;
  width: 100px;
  padding-top: 10px;
}

#post-button {
  padding: 6px 12px;
  float: right;
  background-color: #40a3df;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

#close-button {
  padding: 6px 12px;
  float: left;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  background-color: #9c9c9c;
  margin-left: 20px;
}

.user-edit-modal {
  margin: 0 auto;
  margin-top: 150px;
  width: 400px;
  height: 350px;
  background-color: white;
  border: 1px solid #56bc8a;
  border-radius: 3px;
  color: #444;
  outline: none;
}

.blog-edit-modal {
  margin: 0 auto;
  margin-top: 150px;
  width: 300px;
  height: 275px;
  background-color: white;
  border: 1px solid #56bc8a;
  border-radius: 3px;
  color: #444;
  outline: none;
}

#user-edit-header {
  margin: 0px;
  margin-left: 20px;
  margin-top: 20px;
}

#upload-image {
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  background-color: #56bc8a;
  height: 25px;
  width: 110px;
}

#user-edit-input {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#blog-edit-form {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#upload-text {
  padding: 2px;
  text-align: center;
}
