.splash {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: url("https://res.cloudinary.com/kattelles/image/upload/v1467067423/splash_lebsi9.jpg");
  background-size: cover;
}

.login-form {
  margin: 15% auto;
  width: 350px;
  border: 5px solid black;
  background-color: beige;
}

.login-input {

}

.login-errors {

}


.login-input input{
  background: white;
  width: 85%;
  height: 50px;
  font-size: 16px;
  padding: 0;
  border: 0;
  margin-bottom: 5px;
  margin-left: 25px;
  padding: 3px;

}

.login-submit {
  background: grey;
  width: 85%;
  height: 50px;
  font-size: 16px;
  padding: 0;
  margin-left: 27px;
  border: 0;
}

.login-toggle {
  text-align: center;
  font-size: 16px;
  color: grey;
}
